/* Estilo geral do body */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20240603/pngtree-soccer-or-football-background-image-image_15855158.jpg'); /* Substitua pela URL de uma imagem de fundo */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

/* Centralizando o conteúdo */
.container {
    max-width: 400px;
    margin: 100px auto;
    background: rgba(0, 0, 0, 0.7); /* Fundo transparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Estilo do título */
h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #FFD700; /* Dourado */
}

/* Estilo dos rótulos */
label {
    font-size: 14px;
}

/* Estilo das caixas de texto */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* Estilo do botão */
button {
    width: 100%;
    padding: 10px;
    background-color: #28a745; /* Verde */
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838; /* Verde mais escuro */
}
